#backToGameButton {
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed;
  font-size: 1vw;
  z-index: 100;
}

#backToGameButton,
#startGameButton {
  padding: 1vw 1vw;
  margin: 2vh 0;
  border-radius: 10%;
  background-color: rgb(240, 160, 160);
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  margin-bottom: 2vh;
}

#timeSpent {
    color: white;
    font-size: 3em;
    margin: 2vh 0;
    position: absolute; 
    bottom: 10%; 
    left: 50%; 
    transform: translateX(-50%); 
}