body {
  background-color: black;
}

#game-over {
  font-family: sans-serif;
  font-size: 10em;
  margin-top: 10%;
  text-align: center;
  color: red;
  animation: game-over-animation 8s infinite;
}

@keyframes game-over-animation {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }

  50% {
    transform: scale(1.8);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.sad-face {
  font-size: 18em;
  animation: swing 0.5s ease-in-out infinite alternate, fall 2s ease-in forwards;
}

@keyframes swing {
  0% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

@keyframes fall {
  0% {
    top: 0;
  }

  100% {
    top: 100vh;
    opacity: 0;
  }
}

@media (max-width: 700px) {
  #backToGameButton{

    font-size: 150px;

  }
     #game-over {
        font-size:70px;
    }
     .sad-face {
        font-size:100px; 
    }
   
}
