canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

body {
    margin: 0;
    overflow: hidden;
    color: rgb(247, 245, 141);
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.victory-message {
    font-size: 30em;
    animation: popAndSpin 2s forwards, changeColor 4s infinite;
}

@keyframes popAndSpin {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.2) rotate(10deg);
        opacity: 1;
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

@keyframes changeColor {

    0%,
    100% {
        color: rgb(8, 252, 0);
    }

    25% {
        color: rgb(253, 253, 0);
    }

    50% {
        color: rgb(255, 217, 0);
    }

    75% {
        color: rgb(255, 0, 212);
    }
}